 <!-- About Section Start -->
    <section class="about-section fix section-padding pt-0">
        <div class="container">
            <div class="about-wrapper">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img fix appear_left">
                            <img src="assets/img/about/Frame.png" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content">
                            <div class="section-title mb-0">
                                <span class="wow fadeInUp">About Company</span>
                                <h2 class="char-animation">Busy as Bees, Bold as Brands <br>Digital Marketing Brilliance</h2>
                            </div>
                            <p class="about-text wow fadeInUp" data-wow-delay=".4s">At Bhiive, we are more than just a digital marketing agency — we are your creative and strategic partner for online growth. Based in Chennai, our expert team specializes in website design, SEO services, Google Ads, and social media marketing, helping businesses of all sizes build strong digital foundations and generate measurable results.</p>
                            <div class="icon-items wow fadeInUp" data-wow-delay=".2s">
                                
                                <div class="content">
                                    <h3><i class="flaticon-check"></i> Trust and Integrity</h3>
                                    <p>Our aim is to cultivate trust and mutual respect through our unwavering commitment to acting with integrity, even in the face of adversity.</p>
                                </div>
                                 <div class="content">
                                    <h3><i class="flaticon-check"></i> Expert Team member</h3>
                                    <p>We work tirelessly to ensure that your digital strategy is not only effective but also adaptable to the dynamic nature of the digital world. </p>
                                </div>
                            </div>
                         <p class="about-text wow fadeInUp" data-wow-delay=".4s">
                            Founded with a vision to empower brands online, Bhiive brings together innovation, performance, and professionalism. Whether you’re a startup looking for a responsive website or an established brand aiming to boost your search rankings and online visibility, we provide tailored solutions that align with your goals.
                         </p>

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>