<app-preloader></app-preloader>
<!-- Offcanvas Area Start -->
<div class="fix-area">
    <div class="offcanvas__info">
        <div class="offcanvas__wrapper">
            <div class="offcanvas__content">
                <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                    <div class="offcanvas__logo">
                        <a href="index.php">
                            <img src="assets/img/logo/logo1.png" alt="logo-img">
                        </a>
                    </div>
                    <div class="offcanvas__close">
                        <button>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <h3 class="offcanvas-title">Hello There!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, </p>
                <div class="mobile-menu fix mt-3"></div>
                <div class="social-icon d-flex align-items-center">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="offcanvas__contact">
                    <h3>Information</h3>
                    <ul class="contact-list">
                        <li>
                            <span>
                                Address:
                            </span>
                            Graaf Floriss 22A CH NY
                        </li>
                        <li>
                            <span>
                                Call Us:
                            </span>
                            <a href="tel:+00012345688">+000 123 456 88</a>
                        </li>
                        <li>
                            <span>
                                Email:
                            </span>
                            <!-- <a href="mailto:helloseoz@gmial.com">
                                helloseoz@gmial.com
                            </a> -->
                        </li>
                    </ul>
                </div>
                <a href="contact.php" class="theme-btn">Get a Quote <i class="far fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas__overlay"></div>
    <!-- Header Section Start -->
<header id="header-sticky" class="header-section header-1 ">
    <div class="container">
        <div class="mega-menu-wrapper">
            <div class="header-main">
                <div class="header-left">
                    <a href="index.php" class="header-logo1">
                        <img src="assets/img/logo/logo1.png" alt="logo-img">
                    </a>
                </div>
                <div class="header-right d-flex justify-content-end align-items-center">
                    <div class="mean__menu-wrapper">
                        <div class="main-menu">
                            <nav id="mobile-menu">
    <ul>
        <li class="has-dropdown menu-thumb">
            <a href="index.php">
                Home
            </a>
        </li>
       
        <li>
            <a href="/services">
                Services
                <!-- <i class="fas fa-chevron-down"></i> -->
            </a>
            <!-- <ul class="submenu">
                <li><a href="">Services</a></li>
                <li><a href="">Services Details</a></li>
            </ul> -->
        </li>
        <li>
            <a href="project.php">
                Portfolio
            </a>
        </li>
        
        <li>
            <a href="news.php">
                Blog
            </a>
        </li>
        <li>
            <a href="contact.php">
                Contact Us
            </a>
        </li>
    </ul>
</nav>                        </div>
                    </div>
                                            <div class="link-btn">
                            Support: <a href="tel:88812345678">+91 94459 74970</a>
                        </div>
                    
                                            <a href="contact.php" class="theme-btn">
                            Get Quote
                            <i class="far fa-arrow-right"></i>
                        </a>
                    
                    <div class="header__hamburger d-xl-none my-auto">
                        <div class="sidebar__toggle">
                            <i class="fal fa-bars"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>