::ng-deep .counter-area {
    position: relative;
    background: var(--theme-color2);
    overflow: hidden;
    z-index: 1;
    margin-top: -10px;
}
::ng-deep .pa-bg, ::ng-deep .pa-bg::before{
 background: none!important;
}
::ng-deep .site-title.text-white{
    color: var(--color-dark)!important;;
}
::ng-deep .services-heading .site-title.text-white{
    color: #fff!important;;
}
::ng-deep .quote-area.pt-100{
 padding: 0px;
}
::ng-deep .pricing-area{
    padding-top: 50px;
}
::ng-deep .team-area {
    padding-bottom: 50px;
}
::ng-deep .quote-mess, ::ng-deep .quote-firstname {
    display: none;
}
::ng-deep .col-lg-6.quote-email{
    width: 100%;

}