 <!-- Testimonial Section Start -->
    <section class="testimonial-section fix section-padding" style="background-image: url('assets/img/testimonial/testimonial-1-bg.jpg');">
        <div class="container">
            <div class="section-title">
                <span class="wow fadeInUp">Our Testimonial</span>
                <h2 class="char-animation">What Client Say About Us</h2>
            </div>
            <div class="swiper testimonial-slider-3">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonial-box-items">
                            <div class="testimonial-box">
                                <div class="star-box-items">
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <img src="assets/img/testimonial/01.png" alt="img">
                                </div>
                                <p>“Etiam viverra purus sed aliquet tincidunt diam auctor nibhe eget eget elementum lobortis ante massa quis dui suspendisse massa. Curabitur condimentum accumsan risus et porta nam ut nisi metus. Praesent orci ante cursus.”</p>
                            </div>
                            <div class="client-info">
                                <div class="client-img">
                                    <img src="assets/img/testimonial/client-info-01.png" alt="img">
                                </div>
                                <div class="client-content">
                                    <h3>William Smith</h3>
                                    <p>Digital Marketer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial-box-items">
                            <div class="testimonial-box">
                                <div class="star-box-items">
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <img src="assets/img/testimonial/01.png" alt="img">
                                </div>
                                <p>“Etiam viverra purus sed aliquet tincidunt diam auctor nibhe eget eget elementum lobortis ante massa quis dui suspendisse massa. Curabitur condimentum accumsan risus et porta nam ut nisi metus. Praesent orci ante cursus.”</p>
                            </div>
                            <div class="client-info">
                                <div class="client-img">
                                    <img src="assets/img/testimonial/client-info-02.png" alt="img">
                                </div>
                                <div class="client-content">
                                    <h3>William Smith</h3>
                                    <p>Digital Marketer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial-box-items">
                            <div class="testimonial-box">
                                <div class="star-box-items">
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <img src="assets/img/testimonial/01.png" alt="img">
                                </div>
                                <p>“Etiam viverra purus sed aliquet tincidunt diam auctor nibhe eget eget elementum lobortis ante massa quis dui suspendisse massa. Curabitur condimentum accumsan risus et porta nam ut nisi metus. Praesent orci ante cursus.”</p>
                            </div>
                            <div class="client-info">
                                <div class="client-img">
                                    <img src="assets/img/testimonial/client-info-03.png" alt="img">
                                </div>
                                <div class="client-content">
                                    <h3>William Smith</h3>
                                    <p>Digital Marketer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Cta Support Section Start -->
    <section class="cta-support-section fix section-padding pt-0 cta-support-bg-style">
        <div class="container">
            <div class="cta-support-wrapper zoom-effect-style" style="background-image: url('assets/img/cta/cta-support-bg.jpg');">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="cta-support-img wow fadeInUp" data-wow-delay=".3s">
                            <img src="assets/img/cta/cta-left.png" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-6 mt-3 mt-lg-0">
                        <div class="cta-support-content">
                            <div class="section-title text-start">
                                <span class="text-white wow fadeInUp">24/7 Support</span>
                                <h2 class="text-white char-animation">24/7 Customer Support Services from Our SEOZ</h2>
                            </div>
                            <p class="cta-support-text wow fadeInUp" data-wow-delay=".4s">Welcome to SEOZ your trusted partner for comprehensive SEO and digital marketing solutions with our proven expertise</p>
                            <div class="cta-support-box wow fadeInUp" data-wow-delay=".6s">
                                <a href="contact.php" class="theme-btn">
                                    Contact Us
                                    <i class="far fa-arrow-right"></i>
                                </a>
                                <div class="phone-box">
                                    <div class="icon">
                                        <img src="assets/img/call.svg" alt="img">
                                    </div>
                                    <div class="content">
                                        <p>Mail Us</p>
                                        <h5>(704) 555-0127</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Faq Section Start -->
    <section class="faq-section fix section-padding pt-0">
        <div class="container">
            <div class="section-title text-center">
                <span class="wow fadeInUp">Our FAQs</span>
                <h2 class="char-animation">Frequently Asked Questions</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="faq-items style-2">
                        <div class="faq-accordion">
                            <div class="accordion" id="accordion2">
                                <div class="accordion-item wow fadeInUp" data-wow-delay=".2s">
                                    <h5 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="true" aria-controls="faq1">
                                            1. How long will it take before I see better rankings in google?
                                        </button>
                                    </h5>
                                    <div id="faq1" class="accordion-collapse collapse show" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            The time it will take for your website's search engine rankings to begin improving depends on several of its characteristics prior to optimization. Older websites, with diverse backlink portfolios and more trust from search engines
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item wow fadeInUp" data-wow-delay=".4s">
                                    <h5 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
                                            2. How long do search engine results last?
                                        </button>
                                    </h5>
                                    <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            The time it will take for your website's search engine rankings to begin improving depends on several of its characteristics prior to optimization. Older websites, with diverse backlink portfolios and more trust from search engines
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item wow fadeInUp" data-wow-delay=".6s">
                                    <h5 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                                            Is travel insurance included in the package?
                                        </button>
                                    </h5>
                                    <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            The time it will take for your website's search engine rankings to begin improving depends on several of its characteristics prior to optimization. Older websites, with diverse backlink portfolios and more trust from search engines
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item wow fadeInUp" data-wow-delay=".8s">
                                    <h5 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
                                            4. Why should I choose Springboard SEO?
                                        </button>
                                    </h5>
                                    <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            The time it will take for your website's search engine rankings to begin improving depends on several of its characteristics prior to optimization. Older websites, with diverse backlink portfolios and more trust from search engines
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item mb-0 wow fadeInUp" data-wow-delay=".9s">
                                    <h5 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false" aria-controls="faq5">
                                            5. How much does search engine optimization cost?
                                        </button>
                                    </h5>
                                    <div id="faq5" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            The time it will take for your website's search engine rankings to begin improving depends on several of its characteristics prior to optimization. Older websites, with diverse backlink portfolios and more trust from search engines
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>