 <!-- Why Choose Us Section Start -->
    <section class="choose-us-section fix section-padding">
        <div class="container">
            <div class="choose-us-wrapper">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="choose-us-content">
                            <div class="section-title">
                                <span class="wow fadeInUp">Why Choose Us</span>
                                <h2 class="char-animation">Benefits of Digital Marketing Services for Your Business?</h2>
                            </div>
                            <p class="choose-us-text wow fadeInUp" data-wow-delay=".4s">
                                Digital marketing services empower businesses to expand their reach, implement data-driven strategies, enhance competitiveness, evaluate progress, and elevate customer interactions. 
                                 <br>Without the support of a top-tier digital marketing company, you could be overlooking substantial opportunities for growth.</p>
                            <div class="icon-box-items">
                                <div class="icon-box wow fadeInUp" data-wow-delay=".2s">
                                    <div class="icon">
                                        <i class="flaticon-mission"></i>
                                    </div>
                                    <div class="content">
                                        <h6>Our Mission</h6>
                                        <h5>We strive to be more than just a service <br> provider; we aim to be trusted SEOZ</h5>
                                    </div>
                                </div>
                                <div class="icon-box style-2 wow fadeInUp" data-wow-delay=".4s">
                                    <div class="icon">
                                        <i class="flaticon-vision"></i>
                                    </div>
                                    <div class="content">
                                        <h6>Our Vision</h6>
                                        <h5>We aspire to create a world where every <br> business owner feels empowered</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="choose-us-card wow fadeInUp" data-wow-delay=".6s">
                                <a href="contact.php" class="theme-btn">
                                    Contact Us
                                    <i class="far fa-arrow-right"></i>
                                </a>
                                <div class="phone-box">
                                    <div class="icon">
                                        <i class="far fa-phone-alt"></i>
                                    </div>
                                    <div class="content">
                                        <p>Mail Us</p>
                                        <h5>(704) 555-0127</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="choose-us-img agn-choose-5-img">
                            <img src="assets/img/choose-us/choose-us.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Counter Section Start -->
    <section class="counter-section fix section-padding pt-0">
        <div class="container">
            <div class="counter-wrapper">
                <div class="counter-items wow fadeInUp" data-wow-delay=".2s">
                    <div class="icon">
                        <i class="flaticon-expertise"></i>
                    </div>
                    <div class="content">
                        <h2><span class="odometer" data-count="45">00</span>+</h2>
                        <p>Industry Experience</p>
                    </div>
                </div>
                <div class="counter-items style-2 wow fadeInUp" data-wow-delay=".4s">
                    <div class="icon">
                        <i class="flaticon-file"></i>
                    </div>
                    <div class="content">
                        <h2><span class="odometer" data-count="568">00</span>+</h2>
                        <p>Project Completed</p>
                    </div>
                </div>
                <div class="counter-items style-3 wow fadeInUp" data-wow-delay=".6s">
                    <div class="icon">
                        <i class="flaticon-medal"></i>
                    </div>
                    <div class="content">
                        <h2><span class="odometer" data-count="73">00</span>+</h2>
                        <p>Awards Wined</p>
                    </div>
                </div>
                <div class="counter-items style-4 wow fadeInUp" data-wow-delay=".8s">
                    <div class="icon">
                        <i class="flaticon-hire"></i>
                    </div>
                    <div class="content">
                        <h2><span class="odometer" data-count="67">00</span>K</h2>
                        <p>Global Clients</p>
                    </div>
                </div>
            </div>
        </div>
    </section>