
                        <div class="service-details-sidebar">
                            <div class="sidebar-widget">
                                <div class="sideber-title">
                                    <h4 class="wow fadeInUp" data-wow-delay=".2s">Our Services</h4>
                                </div>
                                <ul class="wow fadeInUp" data-wow-delay=".3s">
                                    <li>
                                        <a href="/paidmarketing">
                                            <span> Paid Marketing </span>
                                            <span class="icon"><i class="far fa-long-arrow-right"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/brandbuilding">
                                            <span> Brand Building</span>
                                            <span class="icon"><i class="far fa-long-arrow-right"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/seopage">
                                            <span> Search Engine Optimization </span>
                                            <span class="icon"><i class="far fa-long-arrow-right"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/webbuilding">
                                            <span> Website Development </span>
                                            <span class="icon"><i class="far fa-long-arrow-right"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/workflowautomation">
                                            <span>Workflow Automation</span>
                                            <span class="icon"><i class="far fa-long-arrow-right"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/markersategy">
                                            <span>Marketing Strategy</span>
                                            <span class="icon"><i class="far fa-long-arrow-right"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/influencemarketing">
                                            <span>Influencer Marketing</span>
                                            <span class="icon"><i class="far fa-long-arrow-right"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/googleads">
                                            <span>Google and Meta Ads</span>
                                            <span class="icon"><i class="far fa-long-arrow-right"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar-widget">
                                <div class="sideber-title">
                                    <h4 class="wow fadeInUp" data-wow-delay=".2s">Need Any Help</h4>
                                    <p class="mt-2 wow fadeInUp" data-wow-delay=".3s">Need Any Help, Call Us 24/7 For
                                        Support</p>
                                </div>
                                <ul class="contact-info wow fadeInUp" data-wow-delay=".4s">
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                        <div class="content">
                                            <h5>Call Us</h5>
                                            <p><a href="tel:+2869852156">+286 985 2156</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="content">
                                            <h5>Mail Us</h5>
                                            <p><a href="mailto:info@example.com" class="link">info&#64;bhiive.com</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div class="content">
                                            <h5>Office Address</h5>
                                            <p>125 Berlin, Germany</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar-widget-image wow fadeInUp" data-wow-delay=".5s">
                                <img src="../../../../assets/img/service/service-details-widget01.jpg" alt="img">
                                <div class="content">
                                    <h3>Start Your Project?</h3>
                                    <p>Mauris ut enim sit amet lacus ornare ullamcorper. Praesent placerat neque eu.</p>
                                    <a href="contact.php" class="theme-btn">
                                        Contact Us
                                        <i class="far fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
