<!-- Breadcrumb-section Start -->
    <section class="breadcrumb-section fix bg-cover" style="background-image: url(../../../../assets/img/breadcrumb.jpg);">
    <div class="container">
        <div class="row">
            <div class="page-heading">
                <ul class="breadcrumb-list wow fadeInUp" data-wow-delay=".5s">
                    <li>
                        <a href="index.php">Home</a>
                    </li>
                    <li>
                        <i class="fal fa-long-arrow-right"></i>
                    </li>
                    <li>
                        Service Details                    </li>
                </ul>
                <h2 class="wow fadeInUp" data-wow-delay=".3s">Service Details</h2>
            </div>
        </div>
    </div>
</section>
    <!--Service Details Section Start -->
    <section class="service-detaile-section section-padding fix">
        <div class="container">
            <div class="service-details-wrapper">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="service-details-content">
                            <div class="service-details-image wow fadeInUp">
                                <img src="../../../../assets/img/service/service-details-01.jpg" alt="img">
                            </div>
                            <h2 class="char-animation">Dynamic E-Commerce Platform</h2>
                            <p class="mt-2 wow fadeInUp" data-wow-delay=".2s">Mauris ut enim sit amet lacus ornare
                                ullamcorper. Praesent placerat neque eu purus rhoncus, vel tincidunt odio ultrices. Sed
                                theya are tincidunt feugiat elis Curabitur posuere tristique.</p>
                            <p class="mt-3 wow fadeInUp" data-wow-delay=".3s">
                                Transportation Information Modeling (BIM) is revolutionizing how construction projects
                                are designed, managed, and executed. BIM allows for the creation of detailed digital
                                building construction marketing representations of buildings, facilitating better
                                planning, collaboration, and decision-making.
                            </p>
                            <div class="row g-4">
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".4s">
                                    <div class="icon-box-items">
                                        <div class="icon-box">
                                            <i class="far fa-check-circle"></i>
                                        </div>
                                        <div class="icon-contnet">
                                            <h3>Online Digital Marketing</h3>
                                            <p>
                                                Scale your software operations through a custom engineering team. Meet
                                                the demand of your company’s operations.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                    <div class="icon-box-items">
                                        <div class="icon-box">
                                            <i class="far fa-check-circle"></i>
                                        </div>
                                        <div class="icon-contnet">
                                            <h3>Online Digital Marketing</h3>
                                            <p>
                                                Scale your software operations through a custom engineering team. Meet
                                                the demand of your company’s operations.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".6s">
                                    <div class="icon-box-items">
                                        <div class="icon-box">
                                            <i class="far fa-check-circle"></i>
                                        </div>
                                        <div class="icon-contnet">
                                            <h3>Online Digital Marketing</h3>
                                            <p>
                                                Scale your software operations through a custom engineering team. Meet
                                                the demand of your company’s operations.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".7s">
                                    <div class="icon-box-items">
                                        <div class="icon-box">
                                            <i class="far fa-check-circle"></i>
                                        </div>
                                        <div class="icon-contnet">
                                            <h3>Online Digital Marketing</h3>
                                            <p>
                                                Scale your software operations through a custom engineering team. Meet
                                                the demand of your company’s operations.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="how-title char-animation">How it Works</h4>
                            <div class="work-box-items wow fadeInUp" data-wow-delay=".3s">
                                <div class="work-content">
                                    <h3>Understand your goals</h3>
                                    <p class="mt-2">Our powerful features are designed to drive social growth by
                                        expanding reach, boosting brand awareness. From targeted content strategies.</p>
                                </div>
                                <h2 class="work-number">01</h2>
                            </div>
                            <div class="work-box-items wow fadeInUp style-2" data-wow-delay=".5s">
                                <h2 class="work-number">02</h2>
                                <div class="work-content">
                                    <h3>Understand your goals</h3>
                                    <p class="mt-2">Our powerful features are designed to drive social growth by
                                        expanding reach, boosting brand awareness. From targeted content strategies.</p>
                                </div>
                            </div>
                            <div class="work-box-items wow fadeInUp style-3" data-wow-delay=".7s">
                                <div class="work-content">
                                    <h3>Understand your goals</h3>
                                    <p class="mt-2">Our powerful features are designed to drive social growth by
                                        expanding reach, boosting brand awareness. From targeted content strategies.</p>
                                </div>
                                <h2 class="work-number">03</h2>
                            </div>
                            
                        </div>
                    </div>
                     <div class="col-lg-4">
                    <app-sidebarsec></app-sidebarsec>
                    </div>
                </div>
            </div>
        </div>
    </section>