
    <!-- Project Section Start -->
    <section class="project-section-3 fix section-padding">
        <div class="container">
            <div class="section-title text-center">
                <span class="wow fadeInUp">Our Case Study</span>
                <h2 class="char-animation">View Our Handpicked Digital <br> Marketing Case Study</h2>
            </div>
            <div class="project-wrapper">
                <div class="project-image-items wow fadeInUp">
                    <img src="assets/img/project/13.jpg" alt="img">

                    <div class="content">
                        <h4><a href="project-details.php">SEO & Marketing</a></h4>
                        <p>Comprehensive SEO and digital marketing solutions for your needs strategies.</p>
                    </div>
                </div>
                <div class="project-image-items wow fadeInUp" data-wow-delay=".2s">
                    <img src="assets/img/project/14.jpg" alt="img">

                    <div class="content">
                        <h4><a href="project-details.php">Digital Marketing</a></h4>
                        <p>Comprehensive SEO and digital marketing solutions for your needs strategies.</p>
                    </div>
                </div>
                <div class="project-image-items wow fadeInUp" data-wow-delay=".4s">
                    <img src="assets/img/project/15.jpg" alt="img">

                    <div class="content">
                        <h4><a href="project-details.php">Web Development</a></h4>
                        <p>Comprehensive SEO and digital marketing solutions for your needs strategies.</p>
                    </div>
                </div>
                <div class="project-image-items wow fadeInUp" data-wow-delay=".6s">
                    <img src="assets/img/project/16.jpg" alt="img">

                    <div class="content">
                        <h4><a href="project-details.php">Media Marketing</a></h4>
                        <p>Comprehensive SEO and digital marketing solutions for your needs strategies.</p>
                    </div>
                </div>
                <div class="project-image-items wow fadeInUp" data-wow-delay=".7s">
                    <img src="assets/img/project/17.jpg" alt="img">

                    <div class="content">
                        <h4><a href="project-details.php">Investing Strategic</a></h4>
                        <p>Comprehensive SEO and digital marketing solutions for your needs strategies.</p>
                    </div>
                </div>

                <div class="project-image-items active wow fadeInUp" data-wow-delay=".8s">
                    <img src="assets/img/project/09.jpg" alt="img">

                    <div class="content">
                        <h4><a href="project-details.php">PPC Advertising</a></h4>
                        <p>Comprehensive SEO and digital marketing solutions for your needs strategies.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>