 <!-- Breadcrumb-section Start -->
    <section class="breadcrumb-section fix bg-cover" style="background-image: url(../../../assets/img/breadcrumb.jpg);">
    <div class="container">
        <div class="row">
            <div class="page-heading">
                <ul class="breadcrumb-list wow fadeInUp" data-wow-delay=".5s">
                    <li>
                        <a href="index.php">Home</a>
                    </li>
                    <li>
                        <i class="fal fa-long-arrow-right"></i>
                    </li>
                    <li>
                        Our Services                    </li>
                </ul>
                <h2 class="wow fadeInUp" data-wow-delay=".3s">Our Services</h2>
            </div>
        </div>
    </div>
</section>
    <!-- Service Section Start -->
    <section class="service-section-2 section-padding fix">
        <div class="container">
            <div class="section-title text-center">
                <span class="wow fadeInUp">Our Services</span>
                <h2 class="char-animation">Our Services Can Solve any<br> Marketing Problem</h2>
            </div>
            <div class="row g-5">
                 <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="service-icon-box-items-2">
                        <div class="icon">
                            <i class="flaticon-email-marketing"></i>
                            <div class="icon-bg">
                                <img src="../../../assets/img/service/icon-bg-4.png" alt="img">
                            </div>
                        </div>
                        <div class="content">
                            <h3><a href="/paidmarketing">Paid <br> Marketing</a></h3>
                            <p>
                                Our strategy includes consistently evolving, to ensure we’re producing exceptional SEO
                                for business. Nullam vel accumsan nisi.
                            </p>
                            <a href="/paidmarketing" class="link-btn">More Details
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="service-icon-box-items-2">
                        <div class="icon">
                            <i class="flaticon-seo"></i>
                            <div class="icon-bg">
                                <img src="../../../assets/img/service/icon-bg-1.png" alt="img">
                            </div>
                        </div>
                        <div class="content">
                            <h3><a href="service-details.php">Brand<br> Building</a></h3>
                            <p>
                                Our strategy includes consistently evolving, to ensure we’re producing exceptional SEO
                                for business. Nullam vel accumsan nisi.
                            </p>
                            <a href="service-details.php" class="link-btn">More Details
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                    <div class="service-icon-box-items-2">
                        <div class="icon">
                            <i class="flaticon-email-marketing-1"></i>
                            <div class="icon-bg">
                                <img src="../../../assets/img/service/icon-bg-2.png" alt="img">
                            </div>
                        </div>
                        <div class="content">
                            <h3><a href="service-details.php">Search Engine <br>Optimization</a></h3>
                            <p>
                                Our strategy includes consistently evolving, to ensure we’re producing exceptional SEO
                                for business. Nullam vel accumsan nisi.
                            </p>
                            <a href="service-details.php" class="link-btn">More Details
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                    <div class="service-icon-box-items-2">
                        <div class="icon">
                            <i class="flaticon-performance"></i>
                            <div class="icon-bg">
                                <img src="../../../assets/img/service/icon-bg-3.png" alt="img">
                            </div>
                        </div>
                        <div class="content">
                            <h3><a href="service-details.php">Website <br>Development</a></h3>
                            <p>
                                Our strategy includes consistently evolving, to ensure we’re producing exceptional SEO
                                for business. Nullam vel accumsan nisi.
                            </p>
                            <a href="/seopage" class="link-btn">More Details
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>

                    </div>
                </div>
               
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="service-icon-box-items-2">
                        <div class="icon">
                            <i class="flaticon-seo"></i>
                            <div class="icon-bg">
                                <img src="../../../assets/img/service/icon-bg-5.png" alt="img">
                            </div>
                        </div>
                        <div class="content">
                            <h3><a href="service-details.php">Workflow <br> Automation</a></h3>
                            <p>
                                Our strategy includes consistently evolving, to ensure we’re producing exceptional SEO
                                for business. Nullam vel accumsan nisi.
                            </p>
                            <a href="service-details.php" class="link-btn">More Details
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                    <div class="service-icon-box-items-2">
                        <div class="icon">
                            <i class="flaticon-email-marketing-1"></i>
                            <div class="icon-bg">
                                <img src="../../../assets/img/service/icon-bg-6.png" alt="img">
                            </div>
                        </div>
                        <div class="content">
                            <h3><a href="service-details.php"> Marketing <br> Strategy</a></h3>
                            <p>
                                Our strategy includes consistently evolving, to ensure we’re producing exceptional SEO
                                for business. Nullam vel accumsan nisi.
                            </p>
                            <a href="service-details.php" class="link-btn">More Details
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                    <div class="service-icon-box-items-2">
                        <div class="icon">
                            <i class="flaticon-performance"></i>
                            <div class="icon-bg">
                                <img src="../../../assets/img/service/icon-bg-7.png" alt="img">
                            </div>
                        </div>
                        <div class="content">
                            <h3><a href="service-details.php">Influencer<br> Marketing</a></h3>
                            <p>
                                Our strategy includes consistently evolving, to ensure we’re producing exceptional SEO
                                for business. Nullam vel accumsan nisi.
                            </p>
                            <a href="service-details.php" class="link-btn">More Details
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="service-icon-box-items-2">
                        <div class="icon">
                            <i class="flaticon-email-marketing"></i>
                            <div class="icon-bg">
                                <img src="../../../assets/img/service/icon-bg-8.png" alt="img">
                            </div>
                        </div>
                        <div class="content">
                            <h3><a href="service-details.php">Google <br> and Meta Ads</a></h3>
                            <p>
                                Our strategy includes consistently evolving, to ensure we’re producing exceptional SEO
                                for business. Nullam vel accumsan nisi.
                            </p>
                            <a href="service-details.php" class="link-btn">More Details
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
