
    <!-- Footer Section Start -->
    <section class="footer-section fix footer-bg">
    <div class="container">
        <div class="footer-widget-wrapper">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <a href="index.php">
                                <img src="assets/img/footer/Logo.png" alt="img" class="img-fluid">
                            </a>
                        </div>
                        <div class="footer-content">
                            <p>
                               We'll transform your business into a thriving hive with our digital marketing expertise.
                            </p>
                            <div class="social-icon">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp" data-wow-delay=".4s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h3>Contact Us</h3>
                        </div>
                        <ul class="list-area">
                            
                            <li>
                                <a href="service-details.php">Enterprise SEO</a>
                            </li>
                            <li>
                                <a href="service-details.php">National SEO</a>
                            </li>
                            <li>
                                <a href="service-details.php">SEO Optimization</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ps-lg-2 wow fadeInUp" data-wow-delay=".6s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h3>Quick Link</h3>
                        </div>
                        <ul class="footer-contect">
                            <li>
                                <div class="icon">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <div class="content">
                                    <h5>Call Us</h5>
                                    <p><a href="tel:+00479394888">+91-94459 7497</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="content">
                                    <h5>Mail Us</h5>
                                    <p><a href="mailto:info@bhiive.com" class="text-white">info&#64;bhiive.com</a></p>
                                </div>
                            </li>
                            <!-- <li>
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="content">
                                    <h5>New York, USA</h5>
                                    <p class="text-white">27 Division 10002 Main road</p>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h3>Subscribe Our Newsletter</h3>
                        </div>
                        <div class="footer-content">
                            <p>
                                Effective SEO strategies not only elevate a website's visibility but also drive
                            </p>
                            <form action="#">
                                <div class="form-clt">
                                    <input type="text" name="name" id="email1" placeholder="Email Address">
                                </div>
                                <button type="submit" class="theme-btn w-100">
                                    Subscribe
                                    <i class="far fa-arrow-right"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom fix">
        <div class="container">
            <div class="footer-wrapper d-flex align-items-center justify-content-between">
                <p class="wow fadeInLeft" data-wow-delay=".3s">
                    Copyright 2025 All - Rights Reserved By Bhiive
                </p>
                <ul class="footer-menu wow fadeInRight" data-wow-delay=".5s">
                    <li>
                        <a href="contact.php">
                            Privacy policy.
                        </a>
                    </li>
                    <li>
                        <a href="contact.php">
                            Terms of use.
                        </a>
                    </li>
                    <li>
                        <a href="contact.php">
                            Site map.
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--Footer End-->